/* student name = sujan vaghela
   student number = 8914816*/

   html{
    font:o.8rem Times New Roman, serif;
   }
   body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100vw;
    height: 100vh;
    max-width: 100vw;
    padding: 0.625rem;
   }
   header
{
    border:0.125rem solid black;
    border-radius: 1.875rem;
    padding: 0.625em;;
    margin:0.625rem;
    background: rgb(237, 221, 221);
    background: linear-gradient(90deg, rgb(116, 113, 113) 0%, rgb(223, 206, 198) 25%, rgb(220, 211, 211) 100%);
}

main
{
    
    flex:2 1 70%;
    margin: 1.25rem;
    width:65vw; 
    
}
section
{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
}
aside
{
    
    text-align: center;
    height: 40rem;
    width:22vw;
    margin:1.875;  
    background-image: url('/images/image4.jpeg');
    background-size: cover;
}
aside h2
{
    
    background-color: #1bc99b;
    color:#0400ff
}
aside ul li a
{ 

    text-align: center;
}
h1
{
    font-variant: small-caps;
    color:rgb(11, 11, 11)
}
h2
{
    font-variant: small-caps;
    color:#000000 ; 
}
footer p
{
    color:#050505;
    background-color: #da8cf1;
    width:15.500rem;
    font-size: small; 
}
footer
{
    border:0.125rem solid rgb(40, 179, 225);
    clear: both;
    border-radius: 1.25rem;
    background: rgb(14, 142, 181);
    background: linear-gradient(90deg, rgb(50, 215, 146) 0%, rgb(40, 205, 76) 50%, rgb(172, 236, 21) 100%);
}
.mainimg
{
    
     width:18.75rem;
     height:18.75rem; 
    border:7px solid black;
    float: left;
    margin:0.3rem;
}
#textali
{
    text-align: justify;
    
}
figcaption
{
    font:bold;
    font-variant: small-caps;

}
q
{
    font-family:Comic Sans MS, Comic Sans, cursive;
    font-style: italic;
    font-size: large;
}
ul li
{
    list-style-type: none;
    line-height: 1.5;
}
li>a
{
    text-decoration: none;
    background-color:#78bffd;
    color:#212121;
}
a:hover
{
    color:rgb(248, 157, 157);
}


nav ul li
{
    list-style-type:none;
    display: inline;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #3b7952;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    position: relative;
  }
  
  nav ul li a {
    display: block;
    padding: 0.625rem 1.25rem;
    text-decoration: none;
    color: #bc5302;
  }
  
  nav ul li:hover .dropbox-content {
    display: block;
  }
  
  .dropbox-content {
    display: none;
    position: absolute;
    background-color: #5d6821;
    width: 9.375rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .dropbox-content li {
    display: block;
  }
  
  .dropbox-content li a {
    color: #323549;
    padding: 0.625rem;
    text-decoration: none;
    display: block;
  }
  
  .dropbox-content li a:hover {
    background-color: #33262e;
  }
  #gallery
  {

    display: grid;
    grid-template-columns:repeat(3,1fr);

    
  }
  